<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="returnless" translate="label" sortOrder="314">
            <label>Returnless</label>
        </tab>
        <section id="returnless_connector" translate="label" type="text" sortOrder="3145" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Connector Api</label>
            <tab>returnless</tab>
            <resource>Returnless_Connector::returnless_connector_config</resource>
            <group id="general" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>General Config</label>
                <field id="enabled" translate="label comment" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="integration_api_password" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Integration Api Password</label>
                    <backend_model>Magento\Config\Model\Config\Backend\Encrypted</backend_model>
                    <comment><![CDATA[The Integration Api Password of Returnless Connector]]></comment>
                </field>
                <field id="u_upc" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>EAN attribute code</label>
                    <comment><![CDATA[The name of the EAN attribute in your system]]></comment>
                </field>
                <field id="bundle_enabled" translate="label" type="select" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Separate bundle products</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment><![CDATA[Separation of bundles will be enabled.]]></comment>
                </field>
            </group>
        </section>
    </system>
</config>
